POSTGRES_PASSWORD=postiz-password
POSTGRES_USER=postiz-user
POSTGRES_DB=postiz-db-local
REDIS_PASSWORD=postiz-password
POSTIZ_VERSION=latest
TEMPORAL_POSTGRES_USER=temporal
TEMPORAL_POSTGRES_PASSWORD=temporal
